.timeline {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 50%;

        margin-left: 73px;

        width: 3px;
        height: 100%;

        background: $border;
        content: "";
    }
}

.timeline-pin {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 500;

    margin-left: 65px;

    width: 18px;
    height: 18px;

    display: block;
    transform: translateY(-50%);

    border-radius: 50%;
    border: 2px solid $primary;
    background-color: #fff;
}

.timeline-row {
    @extend %cf;

    position: relative;
    margin-bottom: 60px;

    .timeline-img {
        width: 64px;
        border-radius: 50%;
    }

    .timeline-img, h3 {
        float: left;
        display: inline-block;
    }

    p {
        color: $secondary;

        br { display: none; }
    }

    strong {
        margin-bottom: 10px;
        display: block;
    }

    h3 {
        margin: {
            top: 10px;
            left: 10px;
        }

        text-transform: uppercase;
        font: {
            size: 15px;
            weight: 900;
        }

        color: $secondary;
    }

    .timeline-content {
        position: relative;
        padding: 20px;
        border: 1px solid $border;
    }

    .timeline-infos {
        position: absolute;
        top: 50%;

        margin-left: 8px;

        transform: translateY(-50%);

        @include media($md) { margin-left: 20px; }

        @include media($lg) { margin-left: 25px; }
    }

}
