$primary: #f34235; // red
$primary-dark: #d22e2e; // darken red

$secondary: #34495e; // dark blue
$tertiary: #141414; //grey

$body: #7f8c8d; // light-grey
$p: $body;

$border: #d8dcdc;
$btn: #5f7c8a;

.primary { color: $primary; }
.primary-dark { color: $primary-dark; }

.secondary { color: $secondary; }
.tertiary { color: $tertiary; }
