$primary: #f34235; // red
$primary-dark: #d22e2e; // darken red

$secondary: #34495e; // dark blue
$tertiary: #141414; //grey

$body: #5f7c8a; // light-grey
$p: $body;

.primary { color: $primary; }
.secondary { color: $secondary; }
.tertiary { color: $tertiary; }
