$font: 'Lato', sans-serif;

%heading { line-height: 1.2; }

%heading-h1 { font-size: 68px; }

%heading-h2 { font-size: 48px; }

%heading-h3 { font-size: 18px; }

%heading-h4 { font-size: 21px; }

%heading-h5 { font-size: 18px; }

[am-heading] {
    color: $tertiary;
}

@for $i from 1 through 5 {
    [am-heading~="h#{$i}"], h#{$i} {
        @extend %heading;
        @extend %heading-h#{$i};
        font-weight: 300;
    }
}

p {
    font: {
        size: 16px;
        weight: 300;
    }
}
