description = "experience"

[viewBag]
staticPageSnippetCode = "experience"
staticPageSnippetName = "experience"
==
<!--<div am-grid-col="lg-3" data-thumb="1">
    <a href="#" class="experience-thumb">
        {% content 'static-pages/experience1-image.htm' %}
        {% content 'static-pages/experience1-content.htm' %}

        <span am-button>En savoir plus</span>
    </a>
</div>

<div am-grid-col="lg-3">
    <a href="#" class="experience-thumb" data-thumb="2">
        {% content 'static-pages/experience2-image.htm' %}
        {% content 'static-pages/experience2-content.htm' %}

        <span am-button>En savoir plus</span>
    </a>
</div>

<div am-grid-col="lg-3" am-omega>
    <a href="#" class="experience-thumb" data-thumb="3">
        {% content 'static-pages/experience3-image.htm' %}
        {% content 'static-pages/experience3-content.htm' %}

        <span am-button>En savoir plus</span>
    </a>
</div>-->
{% for item in __SELF__.portfolio %}
<div am-grid-col="lg-3" am-omega>
    <a href="#" data-url="{{ item.url }}" class="experience-thumb" data-thumb="3">
        {% set image = item.images.first %}
        <img src="{{ image.path }}" class="img-responsive" alt="{{ image.title }}">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description|raw }}</p>

        <span am-button>En savoir plus</span>
    </a>
</div>
{% endfor %}