[viewBag]


[portfolio profilePicture]
category = "5"
pageNumber = "{{ :page }}"
itemsPerPage = "6"
==
<header class="header" itemscope itemtype="https://schema.org/Person">
    <div class="img-header">
        {% content 'header-image.htm' %}
    </div>
    <div class="profile">
        {% for item in profilePicture.portfolio %}
            {% set image = item.images.first %}
            <img src="{{ image.path }}" class="profile-picture" alt="{{ item.title|raw }}">

            <h1 class="name">
                {{ item.description|raw }}

                <strong class="title" itemprop="jobTitle">{{ item.title }}</strong>
            </h1>
        {% endfor %}
        <div class="contact-infos">
            <a href="tel:5147527545" class="phone">514 752-7545</a>
            <a href="mailto:infos@jsasseville.ca" class="email">infos@jsasseville.ca</a>
        </div>
    </div>
</header>