description = "portfolioThumbs"

[viewBag]
staticPageSnippetCode = "portfolioThumbs"
staticPageSnippetName = "portfolioThumbs"

[portfolio foo]
category = "4"
itemsPerPage = "6"
==
<div class="portfolio-thumbs-wrapper cf">
{% for item in portfolioThumbs.portfolio %}
    	<a href="#" class="portfolio-thumb" data-url="{{ item.url }}">
    		{% set image = item.images.first %}
    		<img class="portfolio-img" src="{{ image.path }}" class="timeline-img" alt="{{ item.title|raw }}" />
    		<div class="portfolio-thumb-content">
    			<div class="content">
    				<h3>{{ item.title|raw }}</h3>
    				<div class="learn-more">Voir le projet</div>
    			</div>
    		</div>


    	</a>
{% endfor %}
</div>