description = "static"

[staticPage]


[staticMenu mainMenu]
code = "menu"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ 'assets/images/logo.png'|theme }}" />

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
        <link href="{{ 'assets/dist/styles/screen.css'|theme }}" rel="stylesheet">
    </head>

    <body data-view="home">
        <!-- {% page %} -->

        <nav class="nav">
            {% partial 'menu-items' items=mainMenu.menuItems %}
        </nav>

        {% partial 'header' %}

        <div am-grid>
            <section data-section="experience">
                {% content 'section1-title.htm' %}

                <div am-grid-col="lg-3" data-thumb="1">
                    <a href="#" class="experience-thumb">
                        {% content 'static-pages/experience1-image.htm' %}
                        {% content 'static-pages/experience1-content.htm' %}

                        <span am-button>En savoir plus</span>
                    </a>
                </div>

                <div am-grid-col="lg-3">
                    <a href="#" class="experience-thumb" data-thumb="2">
                        {% content 'static-pages/experience2-image.htm' %}
                        {% content 'static-pages/experience2-content.htm' %}

                        <span am-button>En savoir plus</span>
                    </a>
                </div>

                <div am-grid-col="lg-3" am-omega>
                    <a href="#" class="experience-thumb" data-thumb="3">
                        {% content 'static-pages/experience3-image.htm' %}
                        {% content 'static-pages/experience3-content.htm' %}

                        <span am-button>En savoir plus</span>
                    </a>
                </div>

            </section>

            <section data-section="education">
                {% content 'section2-title.htm' %}

                <div class="timeline">
                    <div class="timeline-row">
                        <div am-grid-col="lg-4" data-thumb="1">
                            <div class="timeline-content">
                                {% content 'static-pages/education1-content.htm' %}
                            </div>
                        </div>

                        <div am-grid-col="lg-5">
                            <div class="timeline-img">
                                {% content 'static-pages/education1-image.htm' %}
                            </div>
                        </div>
                    </div>
                </div>

            </section>



            <footer class="footer">

            </footer>
        </div>

        <script src="{{ 'assets/dist/scripts/boot.js'|theme }}"></script>
    </body>
</html>
