description = "static"

[staticPage]


[staticMenu mainMenu]
code = "menu"

[staticMenu Portfolio]
code = "portfolio"

[portfolio experience]
category = "2"
pageNumber = "{{ :page }}"
itemsPerPage = "6"

[portfolio timeline]
category = "3"
pageNumber = "{{ :page }}"
itemsPerPage = "6"

[portfolio portfolioThumbs]
category = "4"
pageNumber = "{{ :page }}"
itemsPerPage = "6"

[portfolio profilePicture]
category = "5"
pageNumber = "{{ :page }}"
itemsPerPage = "6"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ 'assets/images/logo.png'|theme }}" />

        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,900' rel='stylesheet' type='text/css'>
        <link href="{{ 'assets/dist/styles/screen.css'|theme }}" rel="stylesheet">
    </head>

    <body data-view="home">
        <!-- {% page %} -->

        <nav class="nav">
            {% partial 'menu-items' items=mainMenu.menuItems %}
        </nav>

        {% partial 'header' %}

        <div am-grid>
            <section data-section="experience">
                {% content 'section1-title.htm' %}

                <div class="thumbs-wrapper">
                    {% partial 'experienceThumbs' %}
                </div>

            </section>

            <section data-section="education">
                {% content 'section2-title.htm' %}

                <div class="timeline">
                    {% partial 'timeline' %}
                </div>

            </section>

            <section data-section="portfolio">
                {% content 'section3-title.htm' %}
                
                {% partial 'portfolioThumbs' %}
            </section>



            <footer class="footer">

            </footer>
        </div>

        <script src="{{ 'assets/dist/scripts/boot.js'|theme }}"></script>
    </body>
</html>